{% extends 'base.html' %}

{% load cheat %}

{% block title %}{{ cheat.name }} | Henix{% endblock %}

{% block header_color %}orange_header{% endblock %}

{% block content %}
    <!-- ******cheat-info****** -->
    <section id="cheat-info" class="cheat-info section">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <div id="images" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for image in cheat.cheatimage_set.all %}
                                <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                                    <img src="{{ image.image.url }}" class="d-block w-100" alt="...">
                                </div>
                            {% endfor %}
                            {% for video in cheat.cheatvideo_set.all %}
                                <div class="carousel-item {% if forloop.counter == 1 and cheat.cheatimage_set.all.count == 0 %}active{% endif %}">
                                    <iframe width="450" height="250"
                                            src="https://www.youtube.com/embed/{{ video.video }}">
                                    </iframe>
                                </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#images" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#images" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12">
                    {% if cheat.id|quantity == 0 %}
                        <div class="out">Out of stock</div>
                    {% else %}
                        <div class="out">In stock</div>
                    {% endif %}
                    <h2 class="title">{{ cheat.name }}</h2>
                    <p><strong>OC Support:</strong> {{ cheat.oc_support }}</p>
                    <p><strong>Last detection:</strong> {{ cheat.id|last_detect }}</p>
                    <p><strong>Last update:</strong> {{ cheat.updated_at }}</p>
                    <p><strong>Status:</strong> {{ cheat.status }}</p>
                    <form class="row">
                        <div class="form-group col-md-4 col-8">
                            <div class="dropdown">
                                <a class="btn btn-block btn-light dropdown-toggle" href="#" role="button"
                                   id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="true">
                                    Choose plan
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">3 days</a>
                                    <a class="dropdown-item" href="#">30 days</a>
                                    <a class="dropdown-item" href="#">128 days</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-3 hide-on-mobile">
                            <button type="button" class="btn btn-block btn-light">Quantity</button>
                        </div>
                        <div class="form-group col-md-2 col-4">
                            <button id="btn_buy" type="button" class="btn btn-cta-primary">
                                <img alt="" src="/static/images/cart.svg">
                            </button>
                        </div>
                        <div class="form-group col-md-3 col-12">
                            <p class="price text-center">Total price: {{ cheat.price }}$</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- ******functions****** -->
    <section id="functions" class="functions section">
        <div class="container">
            <div class="text-center">
                <h2 class="title">Hack functions</h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="accordion" id="functions-one">
                        {% for func in cheat.id|functions:0 %}
                            <div class="card">
                                <div class="card-header" id="headingOne-{{ forloop.counter }}">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#collapseOne-{{ forloop.counter }}" aria-expanded="true"
                                                aria-controls="collapseOne-1">
                                            {{ func.name }}
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseOne-{{ forloop.counter }}" class="collapse"
                                     aria-labelledby="headingOne-{{ forloop.counter }}"
                                     data-parent="#functions-one">
                                    <div class="card-body">
                                        {{ func.description }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="accordion" id="functions-two">
                        {% for func in cheat.id|functions:1 %}
                            <div class="card">
                                <div class="card-header" id="headingTwo-{{ forloop.counter }}">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#collapseTwo-{{ forloop.counter }}" aria-expanded="true"
                                                aria-controls="collapseOne-1">
                                            {{ func.name }}
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo-{{ forloop.counter }}" class="collapse"
                                     aria-labelledby="headingTwo-{{ forloop.counter }}"
                                     data-parent="#functions-two">
                                    <div class="card-body">
                                        {{ func.description }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ******cheats****** -->
    <section id="other_cheats" class="other_cheats cheats section">
        <div class="container">
            <div class="text-center">
                <h2 class="title">Other cheats for this game</h2>
                {% include 'snippets/cheat_card.html' with cheats=cheats other=True %}
            </div>
        </div>
    </section>

    <!-- ******PRODUCTS****** -->
    <section id="products" class="products section" style="background: #1F2346;">
        <div class="container">
            <p class="title text-center">You might be interested</p>
            <div class="row">
                {% include 'snippets/game_card.html' with games=games %}
            </div>
        </div><!--//container-->
    </section><!--//products-->
{% endblock %}