{% extends 'base.html' %}

{% block title %}{{ game.name }} | Henix{% endblock %}

{% block header_color %}orange_header{% endblock %}

{% block content %}
    <!-- ******cheats****** -->
    <section id="cheats" class="cheats section">
        <div class="container">
            <div class="text-center">
                <h2 class="title">Cheats for the game "{{ game.name }}"</h2>
                {% include 'snippets/cheat_card.html' with cheats=cheats %}
            </div>
        </div>
    </section>

     <!-- ******PRODUCTS****** -->
    <section id="products" class="products section" style="background: #1F2346;">
        <div class="container">
            <h2 class="title text-center">You might be interested</h2>
            <p class="intro text-center"></p>
            <div class="row">
                {% include 'snippets/game_card.html' with games=games %}
            </div>
        </div><!--//container-->
    </section><!--//products-->
{% endblock %}