{% extends 'base.html' %}

{% block title %}A game{% endblock %}

{% block content %}
    <!-- ******cheats****** -->
    <section id="cheats" class="cheats section">
        <div class="container">
            <div class="text-center">
                <h2 class="title">Cheats for the game "Valorant"</h2>


                <div class="cheat">
                    <div class="cheat_min_data">
                        <div class="grid_center y cheat_name_d">
                            <div class="grid_center x y cheatIcon"></div>
                            <div>
                                <p style="margin-bottom: 0px;" class="description_item">forw4rd hack</p>
                                <p style="margin-bottom: 0px;" class="description_value">Best hack for Valorant.</p>
                            </div>
                        </div>
                    </div>
                    <div class="cheat_min_data">
                        <div class="grid_center x y">
                            <p class="description_item">Last update</p>
                            <p class="description_value">17.01.2018</p>
                        </div>
                    </div>
                    <div class="cheat_min_data">
                        <div class="grid_center x y">
                            <p class="description_item">Last detect</p>
                            <p class="description_value">23.01.2018</p>
                        </div>
                    </div>
                    <div class="cheat_min_data">
                        <div class="grid_center x y">
                            <p class="description_item">Functions</p>
                            <p class="description_value">100+</p>
                        </div>
                    </div>
                    <div class="cheat_min_data">
                        <div class="grid_center x y">
                            <p class="description_item">Status</p>
                            <p class="description_value red_status">Detected</p>
                        </div>
                    </div>
                    <div class="cheat_min_data">
                        <a href="" class="grid_center x y btn orange_whiteBG_btn">VIEW HACK</a>
                    </div>
                </div>
                <div class="cheat">
                    <div class="cheat_min_data">
                        <div class="grid_center y cheat_name_d">
                            <div class="grid_center x y cheatIcon"></div>
                            <div>
                                <p style="margin-bottom: 0px;" class="description_item">forw4rd hack</p>
                                <p style="margin-bottom: 0px;" class="description_value">Best hack for Valorant. Only for the premium users.</p>
                            </div>
                        </div>
                    </div>
                    <div class="cheat_min_data">
                        <div class="grid_center x y">
                            <p class="description_item">Last update</p>
                            <p class="description_value">22.01.2018</p>
                        </div>
                    </div>
                    <div class="cheat_min_data">
                        <div class="grid_center x y">
                            <p class="description_item">Last detect</p>
                            <p class="description_value">27.06.2017</p>
                        </div>
                    </div>
                    <div class="cheat_min_data">
                        <div class="grid_center x y">
                            <p class="description_item">Functions</p>
                            <p class="description_value">100+</p>
                        </div>
                    </div>
                    <div class="cheat_min_data">
                        <div class="grid_center x y">
                            <p class="description_item">Status</p>
                            <p class="description_value">Undetected</p>
                        </div>
                    </div>
                    <div class="cheat_min_data">
                        <a href="" class="grid_center x y btn orange_whiteBG_btn">VIEW HACK</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}