{% extends 'base.html' %}

{% block title %}Henix{% endblock %}

{% block content %}
    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header backgroundImage">
        <div class="container text-center">
            <h2 class="title">Welcome to Henix Shop ✋🏻</h2>
            <p class="intro">The most qualified and secured hacks for affordable price with best customer service.</p>
            <div class="btns">
                <a class="btn btn-cta-secondary" href="">Discord Community</a>
                <a class="btn btn-cta-primary" href="">Purchase</a>
            </div>
            <ul class="meta list-inline">

            </ul><!--//meta-->
        </div><!--//container-->

    </section><!--//promo-->

    <!-- ******ABOUT****** -->
    <section id="about" class="about section">
        <div class="container">
            <div class="row">
                <div class="item col-md-3 col-sm-6 col-xs-12">
                    <div class="content " style="position: relative;">
                        <div class="starImage"></div>
                        <h3 class="sub-title">GROWTH</h3>
                        <p>With over 2 years of experience and 10,000 orders, we strive to be the best</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12">
                    <div class="content">
                        <div class="starImage"></div>
                        <h3 class="sub-title">PRODUCTS</h3>
                        <p>We offer a wide selection of popular games including OW, Apex, Valorant, and more</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12">
                    <div class="content">
                        <div class="starImage"></div>
                        <h3 class="sub-title">CUSTOMER SERVICE</h3>
                        <p>Our focus is to provide a fast, easy and interactive support for all customers</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12">
                    <div class="content">
                        <div class="starImage"></div>
                        <h3 class="sub-title">PAYMENT</h3>
                        <p>Accepting various payments including BTC, Paypal, Debit/Visa</p>
                    </div><!--//content-->
                </div><!--//item-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//about-->

    <!-- ******announcements****** -->
    <section id="announcements" class="announcements section">
        <div class="text-center">
            <h2 class="title">Latest announcements</h2>
            <ul class="cards">
                <li class="card">
                    <div class="card-body">
                        <div>

                        </div>
                        <h4 align="left">Henix Shop</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                    </div>
                </li>
                <li class="card">
                    <div class="card-body">
                        <div>

                        </div>
                        <h4 align="left">Henix Shop</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </li>
                <li class="card">
                    <div class="card-body">
                        <div>

                        </div>
                        <h4 align="left">Henix Shop</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </li>
                <li class="card">
                    <div class="card-body">
                        <div>

                        </div>
                        <h4 align="left">Henix Shop</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </li>
                <li class="cards_end"></li>
            </ul>
            <!--//Кнопочка-->

        </div><!--//container-->
    </section><!--//features-->

    <!-- ******PRODUCTS****** -->
    <section id="products" class="products section">
        <div class="container">
            <h2 class="title text-center">Our product listings</h2>
            <p class="intro text-center">Only great selection of popular and secure cheats.</p>
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <div class="card">
                        <img src="/static/images/games/overwatch.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">OVERWATH</h5>
                            <p class="card-text">Offering various products both internal and external softwares at
                                different price levels</p>
                            <a href="#" class="btn btn-block btn-cta-secondary">LEARN MORE</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="card">
                        <img src="/static/images/games/overwatch.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">OVERWATH</h5>
                            <p class="card-text">Offering various products both internal and external softwares at
                                different price levels</p>
                            <a href="#" class="btn btn-block btn-cta-secondary">LEARN MORE</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="card">
                        <img src="/static/images/games/overwatch.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">OVERWATH</h5>
                            <p class="card-text">Offering various products both internal and external softwares at
                                different price levels</p>
                            <a href="#" class="btn btn-block btn-cta-secondary">LEARN MORE</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="card">
                        <img src="/static/images/games/overwatch.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">OVERWATH</h5>
                            <p class="card-text">Offering various products both internal and external softwares at
                                different price levels</p>
                            <a href="#" class="btn btn-block btn-cta-secondary">LEARN MORE</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="card">
                        <img src="/static/images/games/overwatch.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">OVERWATH</h5>
                            <p class="card-text">Offering various products both internal and external softwares at
                                different price levels</p>
                            <a href="#" class="btn btn-block btn-cta-secondary">LEARN MORE</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="card">
                        <img src="/static/images/games/overwatch.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">OVERWATH</h5>
                            <p class="card-text">Offering various products both internal and external softwares at
                                different price levels</p>
                            <a href="#" class="btn btn-block btn-cta-secondary">LEARN MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--//container-->
    </section><!--//products-->

    <!-- ******HISTORY****** -->
    <section id="history" class="history section">
        <div class="container">
            <h2 class="title text-center">Detection history</h2>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                <img src="/static/images/warning.svg" class="card-img" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <h5 class="card-title">New Critical Hit</h5>
                                    <p class="card-text">Last hit Dec 10, 2019</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                <img src="/static/images/warning.svg" class="card-img" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <h5 class="card-title">New Critical Hit</h5>
                                    <p class="card-text">Last hit Dec 10, 2019</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                <img src="/static/images/warning.svg" class="card-img" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <h5 class="card-title">New Critical Hit</h5>
                                    <p class="card-text">Last hit Dec 10, 2019</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                <img src="/static/images/warning.svg" class="card-img" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <h5 class="card-title">New Critical Hit</h5>
                                    <p class="card-text">Last hit Dec 10, 2019</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                <img src="/static/images/warning.svg" class="card-img" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <h5 class="card-title">New Critical Hit</h5>
                                    <p class="card-text">Last hit Dec 10, 2019</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                <img src="/static/images/warning.svg" class="card-img" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <h5 class="card-title">New Critical Hit</h5>
                                    <p class="card-text">Last hit Dec 10, 2019</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                <img src="/static/images/warning.svg" class="card-img" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <h5 class="card-title">New Critical Hit</h5>
                                    <p class="card-text">Last hit Dec 10, 2019</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                <img src="/static/images/warning.svg" class="card-img" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <h5 class="card-title">New Critical Hit</h5>
                                    <p class="card-text">Last hit Dec 10, 2019</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                <img src="/static/images/warning.svg" class="card-img" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <h5 class="card-title">New Critical Hit</h5>
                                    <p class="card-text">Last hit Dec 10, 2019</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--//products-->
{% endblock %}